.coin-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #26272b;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  margin: 2rem 1rem;
  padding: 0.7rem 1rem;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .coin-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

.coin-row:hover {
  transform: scale(1.04);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

img {
  height: 40px;
  margin-right: 8px;
  width: auto;
}

.img-symbol {
  display: flex;
  align-items: center;
}
